.suo
PropertyEstimationAndManagementSystem/obj/Debug/PropertyEstimationAndManagementSystem.csprojAssemblyReference.cache
.vs/PropertyEstimationAndManagementSystem/v16/Server/sqlite3/db.lock
.vs/PropertyEstimationAndManagementSystem/v16/Server/sqlite3/storage.ide-shm
.vs/PropertyEstimationAndManagementSystem/v16/Server/sqlite3/storage.ide-wal
.vs/PropertyEstimationAndManagementSystem/v16/Server/sqlite3/storage.ide-shm
PropertyEstimationAndManagementSystem/obj/Debug/PropertyEstimationAndManagementSystem.csprojAssemblyReference.cache
